<%= form_for :session, url: session_path, html: {class: 'measure center'}  do |form| %>

  <fieldset id="sign_in" class="ba b--transparent ph0 mh0">
    <legend class="f4 fw6 ph0 mh0"><%= title %></legend>

    <div class="mt3">
       <%= form.label :email, class: "db fw6 lh-copy f6" %>
       <%= form.text_field :email, type: 'email', class: "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
    </div>
    
    <div class="mv3">
      <%= form.label :password, class: "db fw6 lh-copy f6" %>
      <%= form.password_field :password, class: "b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
    </div>
  </fieldset>

  <div class="submit-field">
    <%= form.submit "Sign In", class: "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %>
  </div>

  <div class="lh-copy mt3">
    <%= link_to t(".forgot_password"), new_password_path, class: "f5 link dim black db" %>
  </div>

<% end %>
