<!DOCTYPE html>
<html>
  <head>
    <title>Market Beta</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fl w-100 ma0 sans-serif bg-white">

    <nav class="dt w-100 border-box pa2 ph5-ns bb b--black-10">
      <a class="dtc v-mid mid-gray link dim" href="/" title="Home">
        <%= image_tag "logo.jpg", class: "dib h3", alt: "Site Name" %>
      </a>
      <div class="dtc v-mid w-75 tr">
        <% if signed_in? %>
          <%= link_to 'Password', new_password_path, class: "link dim dark-gray f6 f5-ns dib mr3 mr4-ns" %>
          <%= link_to 'Sign Out', sign_out_path, method: :delete, class: "link dim dark-gray f6 f5-ns dib" %>
        <% else %>
          <%= link_to 'Sign Up', sign_up_path, class: "link dim dark-gray f6 f5-ns dib mr3 mr4-ns" %>
          <%= link_to 'Sign In', sign_in_path, class: "link dim dark-gray f6 f5-ns dib" %>
        <% end %>
      </div>
    </nav>

    <div class="fl w-100 ph5 pv3 black-70 bg-white">

      <% flash.each do |key, value| %>
        <div class="flex items-center justify-center pa2 mb3 bg-light-gray navy">
          <span class="lh-title ml3"><%= value %></span>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer class="fl w-100 pv4 ph3 ph5-m ph6-l mid-gray bt b--black-10">
      <small class="f6 db tc">© 2017-2019 <b class="ttu">
        <a class="dtc mid-gray link dim" href="www.parksidesoftware.com" title="Home">Park Side Software, LLC</a></b>., All Rights Reserved</small>
      <div class="tc mt3">
        <%= link_to "Terms of Use", "/pages/terms", title: "Terms", class: "f6 dib ph2 link mid-gray dim" %>
        <%= link_to "Privacy", "/pages/privacy", title: "Privacy", class: "f6 dib ph2 link mid-gray dim" %>
      </div>
    </footer>

  </body>
</html>
